version: "3.9"
services:
  init:
    profiles: ["init"]
    build:
      dockerfile: Dockerfile
      context: .
    command: ./vsc-node --init
    environment:
      - MONGO_URL=mongodb://db:27017
    depends_on:
      - db
    networks:
      - go-vsc-node
    volumes:
      - ./data:/home/app/app/data
  app:
    profiles: ["default"]
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "8080:8080"
      - "10720:10720"
    environment:
      - MONGO_URL=mongodb://db:27017
    depends_on:
      - db
    networks:
      - go-vsc-node
    volumes:
      - ./data:/home/app/app/data
  db:
    image: mongo:8.0.4
    # restart: always
    ports:
      - 127.0.0.1:27027:27017
    networks:
      - go-vsc-node
    volumes:
      - db:/data/db
  btcd:
    image: ruimarinho/bitcoin-core:latest
    container_name: btcd
    command: -rpcuser='vsc-node-user' -rpcpassword='vsc-node-pass' -rpcallowip=0.0.0.0/0 -rpcbind=0.0.0.0 -prune=550 -dbcache=2048 -server=1 -listen=1
    volumes:
      - ./.btc-data:/home/bitcoin/.bitcoin
    ports:
      - 8332:8332 # rpc port
  helios:
    build: 
      dockerfile: dockerfiles/helios_eth.Dockerfile
    container_name: helios
    networks:
      - go-vsc-node
    command: >
      helios ethereum 
      --execution-rpc https://ethereum-rpc.publicnode.com
      --consensus-rpc http://nimbus:8551
      --checkpoint 0xae9af9d71cd0ce04fb3d276ffaf0036ca706a67e6bcd597fb0dd6a2ea96ed10b
  nimbus:
    build: 
      dockerfile: dockerfiles/nimbus_consensus.Dockerfile
    container_name: nimbus
    networks:
      - go-vsc-node
    ports:
      - 8551:9000
    # command: >
      # ./nimbus --help

    command: >
      ./nimbus
      --web3-url="https://ethereum-rpc.publicnode.com"
      --jwt-secret="./jwt.hex"
      --trusted-block-root="0xae9af9d71cd0ce04fb3d276ffaf0036ca706a67e6bcd597fb0dd6a2ea96ed10b"

  nimbus_beacon_node:
    image: statusim/nimbus-eth2:amd64-latest
    container_name: nimbus-eth2-amd64-latest
    restart: unless-stopped
    stop_grace_period: 1m
    ports:
      - 9000:9000/tcp
      - 9000:9000/udp
      - 127.0.0.1:5052:5052/tcp
      - 127.0.0.1:8008:8008/tcp
    volumes:
      - ./data:/home/user/nimbus-eth2/build/data
    command: >-
      --network=mainnet
      --data-dir=/home/user/nimbus-eth2/build/data/shared_hoodi_0
      --web3-url=wss://mainnet.infura.io/v3/
      --log-level=info
      --tcp-port=9000
      --udp-port=9000
      --rest
      --rest-address=0.0.0.0
      --rest-port=5052
      --metrics
      --metrics-address=0.0.0.0
      --metrics-port=8008

volumes:
  db: {}
networks:
  go-vsc-node:
    driver: bridge
